class Awslogin < Formula
  desc "AWS management console login tool."
  homepage "https://github.com/youyo/awslogin"
  url "https://github.com/youyo/awslogin/releases/download/__VERSION__/awslogin"
  sha256 "__SHA256__"
  depends_on "peco"

  def install
    bin.install "awslogin"
  end

  test do
    system "false"
  end
end
