workflows:
  version: 2
  main:
    jobs:
      - release:
          filters:
            branches:
              only: master

version: 2
jobs:
  release:
    working_directory: /go/src/github.com/youyo/homebrew-awslogin
    docker:
      - image: circleci/golang:1
    steps:
      - checkout
      - run:
          name: Release
          command: |
            # make release
            wget https://github.com/youyo/awslogin/releases/download/${AWSLOGIN_VERSION}/awslogin
            checksum=$(shasum -a 256 awslogin | cut -d' ' -f1)
            cat awslogin.rb.template | sed "s|__VERSION__|${AWSLOGIN_VERSION}|g" | sed "s|__SHA256__|${checksum}|g" | tee awslogin.rb
            rm -f awslogin
